.page1 {
  height: 100vh;
  width: 100%;
  background-color: aqua;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(118, 160, 84);
}
.page3 {
  height: 100vh;
  width: 100%;
  background-color: rgb(16, 22, 22);
}
